main {
    margin-top: 60px; /* space for header */
    margin-bottom: 60px; /* space for footer */
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.notes-body {
    width: 90%;
    min-height: 70vh;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    font-size: 16px;
    overflow-y: auto;
    white-space: pre-wrap;
}
