/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    color: #333;
    background-color: #f9f9f9;
}

header, footer {
    text-align: center;
    font-size: 0.8em;
    color: #666;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color: #0056b3;
    border-bottom: 2px solid #0056b3;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h2 {
    color: #007bff;
    margin-top: 20px;
}

h3 {
    color: #28a745;
    margin-top: 15px;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
table, th, td {
      border: 1px solid #000;
      padding: 6px;
      text-align: center;
    }
