body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f6f8;
}

header{
    background:#1d4ed8;
    color:white;
    text-align:center;
    padding:30px;
}

.home-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:70vh;
}

.card{
    background:white;
    padding:40px;
    width:80%;
    max-width:500px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#1d4ed8;
    color:white;
    text-decoration:none;
    border-radius:5px;
}
.info-bar{
    width:90%;
    margin:20px auto;
    background:white;
    padding:20px;
    border-radius:8px;
    box-shadow:0 0 8px rgba(0,0,0,0.1);
}

.table-container{
    width:90%;
    margin:20px auto;
    background:white;
    padding:20px;
    border-radius:8px;
    box-shadow:0 0 8px rgba(0,0,0,0.1);
}

table{
    width:100%;
    border-collapse:collapse;
    margin-bottom:20px;
}

table, th, td{
    border:1px solid #ccc;
}

th, td{
    padding:10px;
    text-align:center;
}

input{
    width:80px;
    padding:8px;
}
